{% trans_default_domain 'TotpBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Users{% endtrans %}
{% endblock %}

{% block body %}
  <h2>{% trans %}Users{% endtrans %}</h2>

  <div class='table-responsive'>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>{% trans %}Email{% endtrans %}</th>
          <th>{% trans %}2FA enabled{% endtrans %}</th>
          <th>{% trans %}Secret set{% endtrans %}</th>
          <th>{% trans %}Trusted Token Version{% endtrans %}</th>
          <th>{% trans %}2FA{% endtrans %}</th>
          <th>{% trans %}Trusted devices{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.isTotpAuthenticationEnabled ? 'Yes' | trans : 'No' | trans }}</td>
            <td>{{ user.isTotpSecret ? 'Yes' | trans : 'No' | trans }}</td>
            <td>{{ user.getTrustedTokenVersion }}</td>
            <td>
              {% if user.isTotpAuthenticationEnabled and is_granted("ROLE_ADMIN") and user.id != app.user.id %}
                <form method="post" action="{{ path('svc_totp_oth_disable', {'id' : user.id}) }}" style="display: inline;">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-admin-disable') }}">
                  <button type="submit" class='btn btn-sm btn-warning'>{% trans %}Disable{% endtrans %}</button>
                </form>
                <form method="post" action="{{ path('svc_totp_oth_disable', {'id' : user.id}) }}" style="display: inline;">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-admin-disable') }}">
                  <input type="hidden" name="reset" value="1">
                  <button type="submit" class='btn btn-sm btn-danger'>{% trans %}Reset{% endtrans %}</button>
                </form>
              {% endif %}
            </td>
            <td>
              {% if user.isTotpAuthenticationEnabled and is_granted("ROLE_ADMIN") and user.id != app.user.id %}
                <form method="post" action="{{ path('svc_totp_clear_oth_td', {'id' : user.id}) }}" style="display: inline;">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-admin-clear-trusted') }}">
                  <button type="submit" class='btn btn-sm btn-primary' title="{% trans %}Clear trusted devices{% endtrans %}">{% trans %}Clear{% endtrans %}</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>{% trans %}General{% endtrans %}</h2>

    <form method="post" action="{{ path('svc_totp_cleartd') }}" style="display: inline;">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-clear-trusted') }}">
      <input type="hidden" name="allUsers" value="1">
      <button type="submit" class='btn btn-sm btn-primary'>{% trans %}Clear trusted devices{% endtrans %} ({% trans %}all{% endtrans %})</button>
    </form>
    <br/><br/>

    {% include("@SvcTotp/_gen/_help.html.twig") %}

  </div>
{% endblock %}




