{% trans_default_domain 'TotpBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Users{% endtrans %}
{% endblock %}

{% block body %}
  <h1>{% trans %}Users{% endtrans %}</h1>

  <div class='table-responsive'>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>{% trans %}Email{% endtrans %}</th>
          <th>{% trans %}2FA enabled{% endtrans %}</th>
          <th>{% trans %}Secret set{% endtrans %}</th>
          <th>{% trans %}Trusted Token Version{% endtrans %}</th>
          <th>{% trans %}2FA{% endtrans %}</th>
          <th>{% trans %}Trusted devices{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.isTotpAuthenticationEnabled ? 'Yes' | trans : 'No' | trans }}</td>
            <td>{{ user.isTotpSecret ? 'Yes' | trans : 'No' | trans }}</td>
            <td>{{ user.getTrustedTokenVersion }}</td>
            <td>
              {% if user.isTotpAuthenticationEnabled and is_granted("ROLE_ADMIN") and user.id != app.user.id %}
                <a class='btn btn-sm btn-warning' href="{{ path('svc_totp_oth_disable', {'id' : user.id}) }}">{% trans %}Disable{% endtrans %}</a>
                <a class='btn btn-sm btn-danger' href="{{ path('svc_totp_oth_disable', {'id' : user.id, 'reset': true}) }}">{% trans %}Reset{% endtrans %}</a>
              {% endif %}
            </td>
            <td>
              {% if user.isTotpAuthenticationEnabled and is_granted("ROLE_ADMIN") and user.id != app.user.id %}
                <a class='btn btn-sm btn-primary' href="{{ path('svc_totp_clear_oth_td', {'id' : user.id}) }}" title="{% trans %}Clear trusted devices{% endtrans %}">{% trans %}Clear{% endtrans %}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include("@SvcTotp/_gen/_help.html.twig") %}

  </div>
{% endblock %}




