{% trans_default_domain 'TotpBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Manage 2FA{% endtrans %}{% endblock %}

{% block body %}
<div class='form-md'>
  <div class="login-form mt-4 p-4">
    {% if app.user.isTotpAuthenticationEnabled %}
      <div class="alert alert-success" role="alert">{% trans %}2FA is enabled.{% endtrans %}</div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
          <i class="fa-solid fa-triangle-exclamation"></i>
          {% trans %}2FA is disabled{% endtrans %}.
        </h4>
      </div>
    {% endif %}

    <strong>{% trans %}Use your Authenticator to Scan the QR Code{% endtrans %}</strong>

    <div class="row">
      <div class="col-auto">
        <figure class="figure">
          <img src="{{ path('svc_totp_qrcode') }}"
               alt="{% trans %}Two-factor authentication QR code for{% endtrans %} {{ app.user.email }}"
               loading="lazy">
        </figure>
      </div>
      <div class="col">
        ({% trans %}examples{% endtrans %}: Authy, Google Authenticator, Microsoft Authenticator, 1Password, ...)
      </div>
    </div>

    <br/><br/>
    {% if app.user.isTotpAuthenticationEnabled %}
      <form method="post" action="{{ path('svc_totp_disable') }}" style="display: inline;" onsubmit="return confirm('{% trans %}Are you sure you want to disable 2FA?{% endtrans %}');">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-disable') }}">
        <button type="submit" class="btn btn-warning btn-block">{% trans %}Disable 2FA{% endtrans %}</button>
      </form>

      <form method="post" action="{{ path('svc_totp_disable') }}" style="display: inline;" onsubmit="return confirm('{% trans %}Are you sure you want to reset 2FA? You will need to set it up again from scratch. This will delete your QR code secret, all backup codes, and all trusted devices.{% endtrans %}');">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-disable') }}">
        <input type="hidden" name="reset" value="1">
        <button type="submit" class="btn btn-danger btn-block">{% trans %}Reset 2FA{% endtrans %}</button>
      </form>

      <form method="post" action="{{ path('svc_totp_cleartd') }}" style="display: inline;" onsubmit="return confirm('{% trans %}Are you sure you want to clear all trusted devices? You will need to enter your 2FA code on all devices again.{% endtrans %}');">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-clear-trusted') }}">
        <button type="submit" class="btn btn-primary btn-block">{% trans %}Clear trusted devices{% endtrans %}</button>
      </form>

    {% else %}
      <strong>{% trans %}If done, click on this button{% endtrans %}</strong>
      <form method="post" action="{{ path('svc_totp_enable') }}" style="display: inline;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-enable') }}">
        <button type="submit" class="btn btn-primary btn-block">{% trans %}Enable 2FA{% endtrans %}</button>
      </form>
    {% endif %}


    <br><br>
    {% include("@SvcTotp/_gen/_help.html.twig") %}
  </div>
</div>
{% endblock %}

